.app-container {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
  transition: background-image 0.5s ease-in-out;
}
